body {
    font-family: Inika, serif;
}

.header_inner {
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 40px;
    color: #8B7969;
    border-bottom: 1px solid #E0DFDE;
}

.content-title {
    text-align: center;
    font-size: 35px;
    color: #8B7969;
    font-weight: normal;
}

.content {
    width: 1000px;
    margin: 0 auto;
}